<img src="assets/images/譜面（ぞうさん）.png">

<button (click)="DOH_click()"><img src="assets/images/DOH.png"></button>
<button (click)="RAY_click()"><img src="assets/images/RAY.png"></button>
<button (click)="ME_click()"><img src="assets/images/ME.png"></button>
<button (click)="FAH_click()"><img src="assets/images/FAH.png"> </button>
<button (click)="SOH_click()"><img src="assets/images/SOH.png"></button>
<button (click)="LAH_click()"><img src="assets/images/LAH.png"></button>
<button (click)="TE_click()"><img src="assets/images/TE.png"></button>
<div>{{result}}</div>



<!-- <img src="/assets/images/DOH.png">
<img src="/assets/images/RAY.png">
<img src="/assets/images/ME.png">
<img src="/assets/images/FAH.png"> 
<img src="/assets/images/SOH.png">
<img src="/assets/images/LAH.png">
<img src="/assets/images/TE.png">
<img src="/assets/images/TA(シフラット).png">
<img src="/assets/images/SE(ソシャープ).png">
<img src="/assets/images/FE(ファシャープ).png"> -->